.title {
    margin: 0;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        line-height: 45px;
        text-align: left;
        color: #ffffff;
    }
}